extends layout

block content
    nav(class='navbar navbar-default navbar-custom navbar-fixed-top')
        div(class='container-fluid')
            div(class='navbar-header page-scroll')
                button(type='button', class='navbar-toggle', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                    span(class='sr-only')
                        Toggle navigationMenu i(class='fa fa-bars')
                        a(class='navbar-brand' href='index.html')
                            #{title}
            div(class='collapse navbar-collapse', id='bs-example-navbar-collapse-1')
                ul(class='nav navbar-nav navbar-right')
                    li
                        a(href='index.html') Home
                    li
                        a(href='#') About
                    li
                        a(href='#') Contact
    // Page Header
    //Set your background image for this header on the line below.
    header(class='intro-header', style='background-image: url("img/home-bg.jpg")')
        div(class='container')
            div(class='row')
                div(class='col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1')
                    div(class='site-heading')
                        h1 Blog Example
                        hr(class='small')
                        span(class='subheading')
                            Clean Blog Theme by Start Bootstrap
    // // Main Content
    div(class='container')
        div(class='row')
            div(class='col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1')
                each item in posts
                    div(class='post-preview')
                        h2(class='post-title')
                            item.title
                        h3(class='post-subtitle')
                            item.body
                        p(class='post-meta') Posted by
                            a(href='#') #{name}
                            //on item.date
                    hr
