extends layout

block content
  h1= title
  p Welcome to #{title}
  div hi from #{name}
  div
  - console.log(JSON.stringify(posts))
  div
  ul
  each val in posts
    li= val
  else
    li There are no values
